.project {
    padding-top:  20px;
    text-align: center;
}
h2 {
    padding: 5px;
    color: black
}

.projectDetails {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.appLinks ul {
    list-style: none;
}
.appLinks li {
    padding-top: 20px;
}
.appLinks a {
    text-decoration: none;
}

.appLinks a:hover {
    border-bottom: 2px red solid;
    font-weight: 700;
}

.projectImage {
    box-shadow: 8px 10px 4px 0 rgba(0,0,0,.1);
}

@media (max-width: 468px) {
    .project {
        margin-right: 0px;
        text-align: center;
    }
    .projectImage {
        max-width: 300px;
    }
}