body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  }

.languagesKnown {
  margin-left: auto;
  margin-right: auto; 
}
.languagesKnown p {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  padding-top: 3.5rem;
}
.languagesKnownList ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  font-style: italic;
}
  
@media (max-width: 468px) {
  .languagesKnown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      /* text-align: center; */
  }

  .languagesKnownList ul {
    font-style: italic;
  }

  .languagesKnownList li {
    align-self: center;
  }
}