body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
  
.mainContent {
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

h1 {
    font-size: 4em;
    display: block;
}

.heroImage {
  padding-top: 50px;
  align-self: center;
}
.landingPageHeader {
  text-align: center;
}
.languagesKnown {
    margin-left: auto;
    margin-right: auto; 
}
.languagesKnown p {
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    padding-top: 3.5rem;
}
.languagesKnown ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-style: italic;
}

  /* small screens */
  @media only screen and (max-width: 600px) { 
      .mainContent {
          margin-left: auto;
          margin-right: auto; 
      }
  }