* {
    margin: 0;
    padding: 0;
}
body {
    color: black;
    background-color: white;
}
  
.mainContent {
    /* margin-left: 5rem; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

h1 {
    top: 1em;
    font-size: 4em;
    display: block;
    padding-top: 50px;
    border-bottom: 2px red solid;
}
p {
    padding-top: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.heroImage {
    padding-top: 50px;
    align-self: center;
}
.landingPageHeader {
    text-align: center;
}

/* .contactInfo ul {
    list-style: none;
    text-align: center;
}
.contactInfo li {
    padding-top: 20px;
}
.contactInfo a {
    text-decoration: none;
}
.contactInfo a:hover {
    color: red;
    font-weight: 700;
} */
  /* small screens */
  @media only screen and (max-width: 600px) { 
      .mainContent {
          margin-left: auto;
          margin-right: auto; 
      }
  }